{% load staticfiles %} <!-- PARA USAR O CAMINHO PADRAO STATIC_URL -->

<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">

    <title>{% block titulo %}{% endblock titulo %} - Financeiro Pessoal</title>

    <!-- CSS -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <!-- FIM CSS -->  


 

  </head>

  <body>
    <!-- MENU -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#IDnavbar">
            <span class="sr-only">Menu Mobile</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Financeiro Pessoal</a>
        </div>

        <div class="collapse navbar-collapse" id="IDnavbar">
          <ul class="nav navbar-nav">
            <li><a href="/pessoas/"> <spam class="glyphicon glyphicon-user"></spam> Pessoas</a></li>
            <li><a href="/caixas/"> <spam class="glyphicon glyphicon-inbox"></spam> Contas</a></li>
            <li><a href="/caixas/fluxo/"> <spam class="glyphicon glyphicon-stats"></spam> Fluxo de Caixa</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- FIM MENU -->
    <br />
    <hr>
      <div class="container">
      <!-- CONTEUDO -->
        {% block conteudo %}{% endblock conteudo %}
      <!-- FIM CONTEUDO -->
      </div>
    <hr>

    <!-- RODAPE -->
    <footer>
      <div align="center">&copy; Edson Lopes</div>
    </footer>
    <!-- FIM RODAPE -->

    <!-- JavaScript -->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.pt-BR.js"></script>

    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        language: 'pt-BR'
      });
    </script>

    <!-- FIM JavaScript -->
    
  </body>
</html>