{% extends 'base.html' %}

{% block titulo %}Principal{% endblock titulo %}

{% block conteudo %}
	<div class="col-sm-6" align="center">
    	<img class="img-responsive" src="{{ STATIC_URL }}logo/logo_G.png">
            </div>
            <div class="col-sm-6" align="center">
            	<h2>Sistema FP</h2> 
            	Um projeto legal para você aprender Python & Django na prática! Criamos um Financeiro Pessoal para entendermos como funciona as rotinas e todo o eco-sistema da internet usando essa tecnologia. <br />O código desse projeto encontra-se no <a href="https://github.com/edsonlb/projetoFP" target="_blank">Github</a> para você estudar à vontade!
            </div>
{%endblock conteudo %}